{% extends "0main.html" %}
{% block title %}
  About Us
{% endblock title %}
{% block link1 %}
  {% load static %}
  <link rel="stylesheet" href="{% static '/static/css/about.css' %}">
{% endblock link1 %}


{% block main %}
  <div class="container-fluid px-0">
    <div class="v111_759">
      <div class="v111_760"></div>
  <div class="v111_761"></div>
  <span class="v111_762">About Us</span>
</div>
    <div id="page2" class="position-relative d-flex">
        <div id="ico">
          <img src="/static/images/5-stars.png" alt="Icon" id="ico-c">
        </div>
        <div id="left2" class="">
          <img src="/static/images/page2.png" alt="Room_img">
          <img src="/static/images/panjabi.png" alt="punjabi-angithi">
        </div>
        <div id="right2" class="">
          <h6>WELCOME TO HOTEL MANINAGAR RESIDENCY</h6>
          
          <div class="btn btn-primary" id="btn">Why Choose us</div>
          
          <p>Hotel Maninagar Residency offers ultimate comfort and provides you the Best Rooms in Maninagar Ahmedabad. This hotel is a beautiful combination of traditional grandeur and modern facilities.The rooms are furnished with a range of modern amenities such as television and internet access. Very clean rooms, excellent Restaurant, friendly staff, and a nice location made this wonderful place to stay. The Hotel Maninagar Residency is located in a calm and posh locality of Ahmedabad, only 11 km from the airport and 3 km from the railway station, and has easy access to office and commercial business complexes and centers. It is close to the town and has a calm, peaceful, and serene atmosphere.</p>
          
          <h6>The hotel's rooms range from comfortable Standard rooms for the budget-conscious to all-suite rooms.</h6>
          
          <p>Come alone or bring your family with you, stay here for a night or for weeks. Feel free to contact us anytime in case you have any questions or concerns. We are working in this field since last 30 years and providing best services to our valuable customers.</p>
        </div>
      </div>
</div>
{% endblock main %}  