{% extends "0main.html" %}
{% block title %}
  Gallery
{% endblock title %}
{% block link1 %}
  {% load static %}
  <link rel="stylesheet" href="{% static '/static/css/gallery.css' %}">
{% endblock link1 %}


{% block main %}



  
  <div class="container px-0">
            <div class="v201_118">
                <div class="v201_119"></div>
                <div class="v201_120"></div>
                <div class="v201_121"></div>
                <span class="v201_122">OUR GALLERY</span>
            </div>
            
        <div class="v201_204">
            <div class="v201_198"></div>
            <div class="v201_196"></div>
            <div class="v201_194"></div>
            <div class="v201_195"></div>
            <div class="v201_199"></div>
            <div class="v201_201"></div>
            <div class="v201_202"></div>
            <div class="v201_200"></div>
            <div class="v201_197"></div>
            <div class="v201_193"></div>
            <div class="v201_203"></div>
        </div>
        
    </div>
{% endblock main %}    