{% extends "0main.html" %}

{% block title %}
  Contact
{% endblock title %}

{% block link1 %}
{% load static %}
<link rel="stylesheet" href="{% static '/static/css/contact.css' %}">
{% endblock link1 %}


{% block main %}
            <div class="v115_107">
                <div class="v115_103"></div>
                <div class="v115_104"></div>
                <div class="v115_105"></div>
                <span class="v115_101">CONTACT-US</span>
            </div>
            <div class="v115_111">
                <span class="v115_106">CONTACT WITH US</span>
                <span class="v115_110">To Know More</span>
                <span class="v115_109">About Our Hotel  </span>
            </div>
            <div class="v115_130">
                <div class="v115_128">
                    <div class="v115_125"></div>
                    <div class="v115_119"></div>
                </div>
                <div class="v115_129">
                    <span class="v115_126">Phone Number</span>
                    <span class="v115_120">+97268 82598</span>
                </div>
            </div>
            <div class="v115_134">
                <div class="v115_131">
                    <div class="v115_127"></div>
                    <div class="v115_123"></div>
                </div>
                <div class="v115_133">
                    <div class="v115_121">
                        <span class="v115_124">@hotelmaninagarresidency021</span>
                    </div>
                    <span class="v115_132">Email Address</span>
                </div>
            </div>
            <div class="v115_136">
                <div class="v125_103">
                    <span class="v125_102">DK Complex, Maninagar, Ahmedabad, Gujarat 380008 </span>
                    <span class="v115_138">Hotel Location</span>
                </div>
                
                <div class="v115_114">
                    <div class="v115_135"></div>
                    <div class="v115_115"></div>
                    <div class="v115_116"></div>
                </div>
            </div>
{% endblock main %}            