{% extends "base.html" %}
{% block content %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>employee Form</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>

<body>
    <br><br>
    <form class="col-10 mx-auto" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <center>
            <h2 class="content css ce">Employee Edit Form</h2>
        </center>
        <hr>
        <div class="row mb-3">
            <label for="id" class="col-sm-2 col-form-label">Employee Id:</label>
            <div class="col-sm-10">
                <input type="number" name="e_id" required class="form-control" id="id" value="{{emp.e_id}}">
            </div>
        </div>
        <div class="row mb-3">
            <label for="dec" class="col-sm-2 col-form-label">Employee Name:</label>
            <div class="col-sm-10">
                <input type="text" name="e_name" required class="form-control" id="name" value="{{emp.e_name}}">
            </div>
        </div>
        <div class="row mb-3">
            <label for="des" class="col-sm-2 col-form-label">Designation:</label>
            <div class="col-sm-10">
                <select id="des" class="form-select" name="Designation">
                    {%for i in Designation %}
                    <option selected value="{{i.des_id}}"{% if i.des_id == emp.desig_id %}selected{% endif %} value="{{i.des_name}}">{{ i.des_name }}</option>
                    {% endfor %}
                </select>
            </div>
        </div>
        <div class="row mb-3">
            <label for="contact" class="col-sm-2 col-form-label">contact:</label>
            <div class="col-sm-10">
                <input type="number" name="contact" required class="form-control" id="contact" value="{{emp.contact}}">
            </div>
        </div>
        <!-- <div class="row mb-3">
            <label for="Email" class="col-sm-2 col-form-label">Email Id:</label>
            <div class="col-sm-10">
                <input type="email" name="Email" required class="form-control" id="Email">
            </div> -->
        <!-- </div>
        <div class="row mb-3">
            <label for="password" class="col-sm-2 col-form-label">Password:</label>
            <div class="col-sm-10">
                <input type="password" name="Email" required class="form-control" id="password">
            </div>
        </div> -->
        <div class="row mb-3">
            <label for="dob" class="col-sm-2 col-form-label">Date Of Birth:</label>
            <div class="col-sm-10">
                <input type="date" name="dob" required class="form-control" id="dob" value="{{emp.d_o_b_field | date:'Y-m-d'}}">
            </div>
        </div>
        <div class="row mb-3">
            <label class="col-sm-2 col-form-label" for="gender">Gender:</label>
            <div class="col-sm-10">
                <input type="text" name="gender" class="form-control" id="gender" value="{{emp.gender}}">
            </div>
        </div>
        <div class="row mb-3">
            <label for="s" class="col-sm-2 col-form-label">Shift:</label>
            <div class="col-sm-10">
                <input type="text" name="shift" required class="form-control" id="s" value="{{emp.shift}}">
            </div>
        </div>
        <div class="row mb-3">
            <label for="add" class="col-sm-2 col-form-label">Address:</label>
            <div class="col-sm-10">
                <input type="text" name="address" required class="form-control" id="add" value="{{emp.address}}">
            </div>
        </div>

        <div class="row mb-3">
            <label for="Salary" class="col-sm-2 col-form-label">Salary:</label>
            <div class="col-sm-10">
                <input type="number" name="salary" required class="form-control" id="Salary" value="{{emp.salary}}">
            </div>
        </div>

        <button type="submit" class="btn btn-primary mt-3">Edit Employee</button>
    </form>
    </div>
</body>

</html>
{% endblock content %}