{% extends "base.html" %}
{% block content %}


<div class="container mt-3">
    <form method="get" id="bookingForm">
        <hr>
        <h4 class="text-center"> Search Food Details Using Food Name</h4>
        <hr>

        <div class="row justify-content-between">
            <div class="col-md-6">
                <div class="form-group">
                    <span class="form-label">Food Name:</span>
                    <input class="form-control " type="text" name="name" id="name" required>
                </div>
                <button type="submit" class="btn btn-success mt-2">Search Detail</button>
            </div>
        </div>
    </form>
</div>
<hr>

<div class="table-responsive">
    <table class="table table-bordered border-dark">
        <div style="text-align: right;margin-right: 12%;">
            <a href="/food" style="text-decoration: none;"><svg xmlns="http://www.w3.org/2000/svg" class="backbtn"
                    fill="currentColor" class="bi bi-person-fill-add" viewBox="0 0 16 16">
                    <path
                        d="M12.5 16a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7m.5-5v1h1a.5.5 0 0 1 0 1h-1v1a.5.5 0 0 1-1 0v-1h-1a.5.5 0 0 1 0-1h1v-1a.5.5 0 0 1 1 0m-2-6a3 3 0 1 1-6 0 3 3 0 0 1 6 0" />
                    <path
                        d="M2 13c0 1 1 1 1 1h5.256A4.5 4.5 0 0 1 8 12.5a4.5 4.5 0 0 1 1.544-3.393Q8.844 9.002 8 9c-5 0-6 3-6 4" />
                </svg>Add New Food Item</a>
        </div>
        <h3>
            <center class="mt-5"> Food Item Table</center>
        </h3><br>

        <thead>
            <tr>
                <th scope="col">Food Id</th>
                <th scope="col">Food Name</th>
                <th scope="col">Food Type</th>
                <th scope="col">Price</th>
                <th scope="col">Image</th>
                <th scope="col">Edit</th>
                <th scope="col">Delete</th>

            </tr>
        </thead>
        <tbody>
            {% if name %}

            {% for i in name %}
            <tr>
                <td scope="col">{{ i.f_id }}</td>
                <td scope="col">{{ i.f_name }}</td>
                <td scope="col">{{ i.f_type }}</td>
                <td scope="col">{{ i.f_price }}</td>
                <td scope="col"><img src="/media/{{i.f_img}}" alt="" width="80px" height="80px"></td>
                <td scope="col"><a class="btn btn-outline-primary" href="/fe_editpost/{{i.f_id}}">update</a></td>
                <td scope="col"><a class="btn btn-outline-danger" href="/f_deletepost/{{i.f_id}}">delete</a></td>
                <!-- <td scope="col">"/media/{{i.img}}"</td> -->
            </tr>
            {% endfor %}
            {% elif food %}
            {% for i in food %}
            <tr>
                <td scope="col">{{ i.f_id }}</td>
                <td scope="col">{{ i.f_name }}</td>
                <td scope="col">{{ i.f_type }}</td>
                <td scope="col">{{ i.f_price }}</td>
                <td scope="col"><img src="/media/{{i.f_img}}" alt="" width="80px" height="80px"></td>
                <td scope="col"><a class="btn btn-outline-primary" href="/fe_editpost/{{i.f_id}}">update</a></td>
                <td scope="col"><a class="btn btn-outline-danger" href="/f_deletepost/{{i.f_id}}">delete</a></td>
                <!-- <td scope="col">"/media/{{i.img}}"</td> -->
            </tr>
            {% endfor %}
            {% else%}
            <tr>
                <td scope="col" colspan="7" class="text-center">Data Not Available</td>
            </tr>
            {% endif %}
        </tbody>
    </table>
</div>


{% endblock content %}