{% extends "base.html" %}
{% block content %}
  

    <br><br>
    <div class="container  card shadow-lg">
        
        <div style="text-align: right;margin-right: 12%;">
            <a href="/packageform"><svg xmlns="http://www.w3.org/2000/svg" class="backbtn" fill="currentColor"
                    class="bi bi-person-fill-add" viewBox="0 0 16 16">
                    <path
                        d="M12.5 16a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7m.5-5v1h1a.5.5 0 0 1 0 1h-1v1a.5.5 0 0 1-1 0v-1h-1a.5.5 0 0 1 0-1h1v-1a.5.5 0 0 1 1 0m-2-6a3 3 0 1 1-6 0 3 3 0 0 1 6 0" />
                    <path
                        d="M2 13c0 1 1 1 1 1h5.256A4.5 4.5 0 0 1 8 12.5a4.5 4.5 0 0 1 1.544-3.393Q8.844 9.002 8 9c-5 0-6 3-6 4" />
                </svg></a>
        </div>
        <table class="table">
            
        <div class="table-responsive">
            <h3>
                <center> List of Package Table</center>
            </h3><br>
            <thead>
                <tr>

                    <th scope="col">Package Id</th>
                    <th scope="col">Package Type</th>
                    <th scope="col">Package Details</th>
                    <th scope="col">Price</th>
                    <th scope="col">Update</th>
                    <th scope="col">Delete</th>
                </tr>
            </thead>
            <tbody>
                {% for i in pack %}
                <tr>

                    <td scope="col">{{i.p_id}}</td>
                    <td scope="col">{{i.package_types}}</td>
                    <td scope="col">{{i.package_details}}</td>
                    <td scope="col">{{i.price}}</td>
                    <td><a class="btn btn-outline-primary" href="/editpost/{{i.p_id}}">update</a></td>
                    <td><a class="btn btn-outline-danger" href="/package_deletepost/{{i.p_id}}">delete</a></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        </div>
    </div>
  
    {% endblock content %}